*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}

.contenedorfluido{
    background-color: yellow;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 600px;
    align-items: center;

}


.card{
    background-color: green;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
    text-align: center;
    line-height: 20px;
    margin: 5px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.c1{
    background-color: aquamarine;
    order: 3;
}
.c2{
    background-color: lightcoral;
    order: 1;
}
.c3{
    background-color: blueviolet;
    order: 4;
}
.c4{
    background-color: darkslateblue;
    order: 2;
}









